flows.json
[
    {
        "id": "6e75a8e243d52311",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c00d97b5ef6a5ac4",
        "type": "ui_button",
        "z": "6e75a8e243d52311",
        "name": "",
        "group": "2b0bf6f8cc640b2f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Mover Cabeza",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "mover cabeza",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "67c54eab15668b64"
            ]
        ]
    },
    {
        "id": "545bbc74048fca1c",
        "type": "ui_text_input",
        "z": "6e75a8e243d52311",
        "name": "",
        "label": "Mensaje Pantalla",
        "tooltip": "",
        "group": "2b0bf6f8cc640b2f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "3e903b7dddd3c91a"
            ]
        ]
    },
    {
        "id": "2a2ec785195ea901",
        "type": "mqtt out",
        "z": "6e75a8e243d52311",
        "name": "",
        "topic": "SnowMan/mnml_bgma",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9d996860de84491c",
        "x": 560,
        "y": 260,
        "wires": []
    },
    {
        "id": "3e903b7dddd3c91a",
        "type": "function",
        "z": "6e75a8e243d52311",
        "name": "setMensaje",
        "func": "global.set(\"mensaje\", msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c49674a0efc1d7a1",
        "type": "ui_button",
        "z": "6e75a8e243d52311",
        "name": "",
        "group": "2b0bf6f8cc640b2f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enviar Mensaje",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "fa4f684848f4e437"
            ]
        ]
    },
    {
        "id": "fa4f684848f4e437",
        "type": "function",
        "z": "6e75a8e243d52311",
        "name": "function 3",
        "func": "msg.payload = global.get(\"mensaje\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "2a2ec785195ea901"
            ]
        ]
    },
    {
        "id": "67c54eab15668b64",
        "type": "mqtt out",
        "z": "6e75a8e243d52311",
        "name": "",
        "topic": "SnowMan/mnml_bgma",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9d996860de84491c",
        "x": 460,
        "y": 60,
        "wires": []
    },
    {
        "id": "684a06fbe74722ef",
        "type": "ui_switch",
        "z": "6e75a8e243d52311",
        "name": "",
        "label": "Luces Secuencia rapida",
        "tooltip": "",
        "group": "2b0bf6f8cc640b2f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "0",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "cff5e13ce0683268"
            ]
        ]
    },
    {
        "id": "f6995ba3cb720adb",
        "type": "ui_switch",
        "z": "6e75a8e243d52311",
        "name": "",
        "label": "Luces Secuencia simultanea",
        "tooltip": "",
        "group": "2b0bf6f8cc640b2f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "2",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "3",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 380,
        "wires": [
            [
                "b27d96b223da34ea"
            ]
        ]
    },
    {
        "id": "891a62ac1cfbfad9",
        "type": "ui_switch",
        "z": "6e75a8e243d52311",
        "name": "",
        "label": "Luces Secuencia doble parpadeo",
        "tooltip": "",
        "group": "2b0bf6f8cc640b2f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "4",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "5",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 260,
        "y": 420,
        "wires": [
            [
                "c7f695405d8e8e53"
            ]
        ]
    },
    {
        "id": "cff5e13ce0683268",
        "type": "mqtt out",
        "z": "6e75a8e243d52311",
        "name": "",
        "topic": "SnowMan/mnml_bgma",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9d996860de84491c",
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "b27d96b223da34ea",
        "type": "mqtt out",
        "z": "6e75a8e243d52311",
        "name": "",
        "topic": "SnowMan/mnml_bgma",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9d996860de84491c",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "c7f695405d8e8e53",
        "type": "mqtt out",
        "z": "6e75a8e243d52311",
        "name": "",
        "topic": "SnowMan/mnml_bgma",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9d996860de84491c",
        "x": 560,
        "y": 420,
        "wires": []
    },
    {
        "id": "2b0bf6f8cc640b2f",
        "type": "ui_group",
        "name": "Muñeco",
        "tab": "ec15cc2d1ba575d5",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9d996860de84491c",
        "type": "mqtt-broker",
        "name": "Broker.emqx",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ec15cc2d1ba575d5",
        "type": "ui_tab",
        "name": "Basicos",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]